XSD/ejercicio3_xsd.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="datos" type="info"/>
        <xs:element ref="comentario"/>
      </xs:sequence>
      <xs:attribute name="nacimiento" type="xs:date"/>
    </xs:complexType>
  </xs:element>
  
    <xs:complexType name="info">
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="apellidos" type="xs:string"/>
        <xs:element name="dni" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
    
    <xs:element name="comentario" type="xs:string"/>
</xs:schema>
