XSD/jercicio_1_restricciones_xsd.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="campo" type="TCat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

<xs:simpleType name="TCat">
    <xs:restriction base="xs:string">
      <xs:pattern value="Capitulo [0-9]"/>
    </xs:restriction>
</xs:simpleType>
</xs:schema>